__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
.git/
.gitignore
.venv
venv/
*.md
.DS_Store
terraform/
.dockerignore
.env*
Makefile
.python-version
Dockerfile
docs/
.github/workflows/
.vscode/
